<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUseerInput from "./components/HandlingUseerInput.vue";
import AttributeBindlings from "./components/AttributeBindlings.vue";
import ConditionAndLoop from "./components/ConditionAndLoop.vue";
import FromBindling from "./components/FromBindling.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent>
      <br />
      <br />
    </SimpleComponent>
    <FromBindling></FromBindling>
    <br />
    <br />
    <ConditionAndLoop></ConditionAndLoop>
    <br />
    <br />
    <AttributeBindlings></AttributeBindlings>
    <HandlingUseerInput></HandlingUseerInput>
    <CalComponent />
    <HelloWorldExample></HelloWorldExample>
  </div>
</template>

<style scoped></style>
